<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".listproject"
            android:exported="false" />
        <activity
            android:name=".suggest"
            android:exported="false" />
        <activity
            android:name=".projectsdoctor"
            android:exported="false" />
        <activity
            android:name=".uppasss"
            android:exported="false" />
        <activity
            android:name=".company"
            android:exported="false" />
        <activity
            android:name=".web"
            android:exported="false" />
        <activity
            android:name=".flutter"
            android:exported="false" />
        <activity
            android:name=".android"
            android:exported="false" />
        <activity
            android:name=".programmingtracks"
            android:exported="false" />
        <activity
            android:name=".chapters"
            android:exported="false" />
        <activity
            android:name=".documentation"
            android:exported="false" />
        <activity
            android:name=".update_delete"
            android:exported="true" />
        <activity
            android:name=".profiledoctor"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".showlist"
            android:exported="true" />
        <activity
            android:name=".showlistdoctor"
            android:exported="true" />
        <activity
            android:name=".others_page"
            android:exported="true" />
        <activity
            android:name=".profilestudent"
            android:exported="true" />
        <activity
            android:name=".activ3"
            android:exported="true" />
        <activity
            android:name=".activ2"
            android:exported="true" />
        <activity
            android:name=".activ1"
            android:exported="true" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>